@{
    ViewBag.Title = "Kontakta oss";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="jumbotron">
    <address>
        <strong>Jonathan Kennås:</strong>   <a href="mailto:jk95@live.se">jk95@live.se</a><br />
        
    </address>
</div>
