@{
    ViewBag.Title = "Hem";
}
<div class="jumbotron">
    
    <script defer @*API-nyckel till google maps*@
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClQVtfHOJaUG2YXyLbtbJ73Jm__81vaTU&callback=initMap">
    </script>
    <style>
        #map_canvas img {
            max-width: none;
        }
    </style>
   
    <style>
        .infoDiv {
            height: 200px;
            width: 300px;
            -webkit-user-select: none;
            background-color: white;
        }
    </style>
    <br />
    <div id="map_canvas" style="height: 550px;"></div>
    @section scripts {
        <section class="scripts">
            <script type="text/javascript">
        $(document).ready(function () { //https://code.msdn.microsoft.com/Google-Map-in-MVC5-21e19073
            Initialize();
        });
        function Initialize() {
            google.maps.visualRefresh = true;
            var start = new google.maps.LatLng(63.1766832, 14.636068099999989); // Startplats Östersund på karta
            var mapOptions = {
                zoom: 5,
                center: start,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            //GPS-koordinater: https://www.gpskoordinater.com/
            var markers = '@ViewBag.Activities';
            //Inladdning av markörer
            var data = [              
                    { "Id": 1, "PlaceName": "Forsaleden", "GeoLong": "62.8988458", "GeoLat": "14.967649100000017", "type": "Vandring" },
                    { "Id": 2, "PlaceName": "Bydalen", "GeoLong": "63.10122430000001", "GeoLat": "13.796461099999988", "type": "Skidor" },
                    { "Id": 3, "PlaceName": "Hannacksjön", "GeoLong": "63.19891579999999", "GeoLat": "15.2974289", "type": "Fiske" },
                    { "Id": 4, "PlaceName": "Åre", "GeoLong": "63.3990428", "GeoLat": "13.081505800000059", "type": "Skidor" },
                    { "Id": 5, "PlaceName": "Stora rengen", "GeoLong": "58.2589227", "GeoLat": "15.720074699999941", "type": "Fiske" }
                ];

            $.each(data, function (i, item) {
                var icon;
                if (item.type == "Skidor") {
                    icon = "/Images/Skiermarker.png"
                }
                else if (item.type == "Fiske") {
                    icon = "/Images/Fishmarker.png"
                }
                else if (item.type == "Vandring") {
                    icon = "/Images/Hikermarker.png"
                }
                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                    'map': map,
                    'animation': google.maps.Animation.DROP,
                    'title': item.PlaceName,
                    'Type': item.type,
                    'icon': icon
                });
                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='infoDiv'><h3>" + item.PlaceName + "<br />" + "<br />" + "<h5>" + item.type + "</div>"
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            })
        }
            </script>
        </section>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vad är Explore now?</h2>
        <p>Under uppbyggnad.</p>
        <p><a class="btn btn-default" href="https://www.google.se/">Läs mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Om oss</h2>
        <p>Under uppbyggnad.</p>
        <p><a class="btn btn-default" href='@Url.Action("About", "Home")'>Läs mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontakta oss</h2>
        <p>Under uppbyggnad.</p>
        <p><a class="btn btn-default" href='@Url.Action("Contact", "Home")'>Läs mer &raquo;</a></p>
    </div>
</div>